@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1100px;
  min-width: 360x;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
  box-shadow: 0 0 4px 0px rgba(0, 0, 100, 0.15);
}
.sidebar-conatiner-div {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 600px) {
  .sidebar-conatiner-div {
    flex-direction: row;
  }
}
